<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tornadoes 1950 - 2021</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}">
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Plotly-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Bootstrap stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <script src="{{ url_for('static', filename='../static/js/global.js') }}"></script>
    
    
    <!-- additional js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  </head>
  
  <body>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh;">
      <h4 class="display-5 fw-bold" style="color: #bf000b; display: inline;">US Tornado Data From&nbsp;<class="display-5 fw-bold style="color: #f18e06; display: inline;">1950-2021</h4>
      <p class="fs-3" style="text-align: center; margin-top: 20px;"><b>Use the Interactive <span style="color: #e4750a;">CHARTS</span> and <span style="color: #d65c0d;">MAP</span> to learn more about <span style="color: #ffa600;">Tornadoes</span> in the US <span style="color: #c83f0d;">1950-2021</span></b></p>
      <h3 id="chart-section"><a href="#how-many" id="chart-section-link" style="color: #e4750a;">CHART</a>
      &nbsp &nbsp &nbsp<a href="#where" id="chart-section-link" style="color: #d65c0d;">MAP</a>
      &nbsp &nbsp &nbsp<a href="#by-state" id="chart-section-link" style="color: #ffa600;">DISTRIBUTION</a></h3>
  </div>
    
      <div id="how-many"></div>

      <div class="container-fluid">
      <div class="row text-center">
        <div class="row text-center">
          <div class="row">
            <div class="col-xs-3">
              <div class="well">
                <h4 class="small-margin-bottom"><b>Tornadoes by the Numbers: Frequency, Type, and Impact</b></h4>
                <select class="form-select form-select-lg mb-2" id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
            
            </div>
          </div>
        </div></div></div><br class="small-margin-bottom">
        
      <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card text-dark bg-info mb-3" style="height: calc(4 / 5 * 100%);">
            <div class="card-header">
              <h5 class="my-0 fw-normal text-center">Tornado Count</h5>
            </div>
            <div class="card-body" style="height: calc(4 / 5 * 100%);">
              <p class="card-text counter" id="tornadoCountText">0</p>
            </div>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="card text-white bg-danger mb-3" style="height: calc(4 / 5 * 100%);">
            <div class="card-header">
              <h5 class="my-0 fw-normal text-center">Tornado Fatalities</h5>
            </div>
            <div class="card-body" style="height: calc(2 / 3 * 100%);">
              <p class="card-text counter" id="fatalitiesText">0</p>
            </div>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="card text-dark bg-warning mb-3" style="height: calc(4 / 5 * 100%);">
            <div class="card-header">
              <h5 class="my-0 fw-normal text-center">Tornado Injuries</h5>
            </div>
            <div class="card-body" style="height: calc(4 / 5 * 100%);">
              <p class="card-text counter" id="injuriesText">0</p>
            </div>
          </div>
        </div>
      </div>
    </div></div>
    <!-- Create a div to hold the plot -->
    <div id="myDiv"></div><br></div><br><br><br><br>
    
    <div id="where"></div>
    
    <div class="container-fluid">
      <div class="row text-center" >
        <div class="row">
          <div class="col-xs-3">
            <div class="well">
              <h4 class="small-margin-bottom"><b>Most Active States for Tornadoes</h4></b>
              <select class="form-select form-select-lg mb-2" id="selDataset2" onchange="optionChanged2(this.value)"></select>
            </div>
          </div>
        </div>
      </div>
      <!-- div for map-->
      <div id="Mapit" style="width: 100%; height: 550px;"></div><br><br><br><br>
    </div>
   
    <div id="by-state"></div>
    
    <div class="container-fluid">
      <div class="row text-center">
        <div class="row">
          <div class="col-xs-3">
            <div class="well">
              <h4 id="map-section" class="small-margin-bottom"><b>Top Tornado States By Year</b></h4>
              <select class="form-select form-select-lg mb-2" id="selDataset3" onchange="optionChanged3(this.value)"></select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <canvas id="myChart" style="height: 300px; width: 95%;"></canvas>
    </div><br><br>
  
    <div class="container-fluid" style="width: 95%;">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="row">
          <div class="col-xs-3">
            <div class="well">  
  <h4 class="small-margin-bottom"><b>Monthly Distribution For US</b><br></h4><br></div></div></div></div></div>  
  <!-- Cards displaying the count of the tornadoes -->
  <div class="container-fluid"></div>
    <div class="row">
      <div class="col">
        <div class="card text-black bg-warning grid-item">
          <div class="card-header">
            <h5 class="text-center">JAN</h5>
          </div>
          <div class="card-body">
            <p class="card-text monthly-counter" id="jan">0</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-black bg-warning grid-item">
          <div class="card-header">
            <h5 class="text-center">FEB</h5>
          </div>
          <div class="card-body">
            <p class="card-text monthly-counter" id="feb">0</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-black bg-warning grid-item">
          <div class="card-header">
            <h5 class="text-center">MAR</h5>
          </div>
          <div class="card-body">
            <p class="card-text monthly-counter" id="mar">0</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-black bg-warning grid-item">
          <div class="card-header">
            <h5 class="text-center">APR</h5>
          </div>
          <div class="card-body">
            <p class="card-text monthly-counter" id="apr">0</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-black bg-warning grid-item">
          <div class="card-header">
            <h5 class="text-center">MAY</h5>
          </div>
          <div class="card-body">
            <p class="card-text monthly-counter" id="may">0</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-black bg-warning grid-item">
          <div class="card-header">
            <h5 class="text-center">JUN</h5>
          </div>
          <div class="card-body">
            <p class="card-text monthly-counter" id="jun">0</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-black bg-warning grid-item">
          <div class="card-header">
            <h5 class="text-center">JUL</h5>
          </div>
          <div class="card-body">
            <p class="card-text monthly-counter" id="jul">0</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-black bg-warning grid-item">
          <div class="card-header">
            <h5 class="text-center">AUG</h5>
          </div>
          <div class="card-body">
            <p class="card-text monthly-counter" id="aug">0</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-black bg-warning grid-item">
          <div class="card-header">
            <h5 class="text-center">SEP</h5>
          </div>
          <div class="card-body">
            <p class="card-text monthly-counter" id="sep">0</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-black bg-warning grid-item">
          <div class="card-header">
            <h5 class="text-center">OCT</h5>
          </div>
          <div class="card-body">
            <p class="card-text monthly-counter" id="oct">0</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-black bg-warning grid-item">
          <div class="card-header">
            <h5 class="text-center">NOV</h5>
          </div>
          <div class="card-body">
            <p class="card-text monthly-counter" id="nov">0</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-black bg-warning grid-item">
          <div class="card-header">
            <h5 class="text-center">DEC</h5>
          </div>
          <div class="card-body">
            <p class="card-text monthly-counter" id="dec">0</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h6>Data Attribution Source: https://www.spc.noaa.gov/gis/svrgis/ United States, severe report database.</h6>


    
<!-- Scripts used to push data to HTML -->
  </body>
  <script src="{{ url_for('static', filename='../static/js/yearselector_v2.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/js/tornadograph_v2.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/js/totaltornadoes_v2.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/js/fatalities.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/js/injuries.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/js/SEL2whatyear.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/js/mapselect_v1.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/js/makemap.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/js/whichstate.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/js/monthcards.js') }}"></script>

</html>