#title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
  }
  .equal-height {
    display: flex;
    justify-content: center;
  }
  .well {
    margin: 0 auto;
    text-align: center;
  }
  .box-container {
    margin-bottom: 30px;
  }
  #Mapit {
    height: 500px;
  }
  h5 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
  }